@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainYellow: #f7af06;
  --mainWhite: #fdfbf3;
  --mainBlack: #1f3139;
  --mainGrey: #b6b6b4;
  --TransGrey: rgba(0, 0, 0, 0.1);
}

/* palettes */
/* https://coolors.co/1f3139-f7af06-e1243a-088190-b6b6b4-fdfbf3 */

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
#logo {
  filter: hue-rotate(-4deg);
}

.btn-yellow {
  background: var(--mainYellow);
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0 !important;
}
.btn-yellow:hover {
  background: var(--mainBlack);
  color: var(--mainYellow);
}
/* #### Homepage #### */
/* navbar */
.navbar-toggler {
  outline: none !important;
  border: 0;
  font-size: 2.2rem;
  color: var(--mainYellow) !important;
}
.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}

.nav-active {
  border-bottom: 0.1rem solid var(--mainYellow);
}

.navbar-icon {
  font-size: 1.6rem;
}
.navbar-cart-icon {
  color: var(--mainBlack);
  position: relative;
}
.navbar-cart-icon:hover {
  color: var(--mainGrey);
}
.cart-items {
  position: absolute;
  color: var(--mainWhite);
  top: -15%;
  right: -25%;
  padding: 0.2rem 0.3rem;
  background: var(--mainYellow);
  border-radius: 50%;
  font-size: 0.8rem;
}

/* banner */
.banner {
  background: url("../img/pageBcg/bannerBcg.jpeg");
  min-height: calc(100vh - 101px);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
