@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainYellow: #f7af06;
  --mainWhite: #fdfbf3;
  --mainBlack: #1f3139;
  --mainGrey: #b6b6b4;
  --TransGrey: rgba(0, 0, 0, 0.1);
}

/* palettes */
/* https://coolors.co/1f3139-f7af06-e1243a-088190-b6b6b4-fdfbf3 */

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
.text-yellow {
  color: var(--mainYellow);
}

#logo {
  filter: hue-rotate(-4deg);
}

.btn-yellow {
  background: var(--mainYellow);
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0 !important;
}
.btn-yellow:hover {
  background: var(--mainBlack);
  color: var(--mainYellow);
}
/* #### Homepage #### */
/* navbar */
.navbar-toggler {
  outline: none !important;
  border: 0;
  font-size: 2.2rem;
  color: var(--mainYellow) !important;
}
.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}

.nav-active {
  border-bottom: 0.1rem solid var(--mainYellow);
}

.navbar-icon {
  font-size: 1.6rem;
}
.navbar-cart-icon {
  color: var(--mainBlack);
  position: relative;
}
.navbar-cart-icon:hover {
  color: var(--mainGrey);
}
.cart-items {
  position: absolute;
  color: var(--mainWhite);
  top: -15%;
  right: -25%;
  padding: 0.2rem 0.3rem;
  background: var(--mainYellow);
  border-radius: 50%;
  font-size: 0.8rem;
}

/* banner */
.banner {
  background: url("../img/pageBcg/bannerBcg.jpeg");
  min-height: calc(100vh - 101px);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* featured section */
.old-price {
  text-decoration: line-through;
}

.featured-container {
  background: var(--TransGrey);
  position: relative;
  overflow: hidden;
}

.featured-search-icon {
  background: var(--mainWhite);
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(110%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.featured-container:hover .featured-search-icon {
  transform: translateX(0);
}

.featured-store-link {
  background: var(--mainYellow);
  color: var(--mainBlack);
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
}
.featured-store-link:hover {
  color: var(--mainBlack);
}

.featured-container:hover .featured-store-link {
  transform: translateX(0);
}

/* partners */
.partners {
  background: var(--TransGrey);
}

.carousel-control-prev {
  font-size: 2.5rem;
  color: var(--mainBlack);
  transform: translateX(-200%);
  cursor: pointer;
}
.carousel-control-next {
  font-size: 2.5rem;
  color: var(--mainBlack);
  transform: translateX(200%);
  cursor: pointer;
}

/* newsletter */
.form-icon {
  background: var(--mainGrey);
  color: var(--mainBlack);
}

/* skills */
.skills {
  background: var(--mainBlack);
}

.skill-icon {
  color: var(--mainYellow);
  font-size: 2rem;
}

/* footer */
.footer {
  background: rgba(0, 0, 0, 0.6);
}

.footer-title {
  border: 0.2rem solid var(--mainYellow);
  padding: 0.4rem;
}

.footer-icon {
  color: var(--mainYellow);
}
.footer-icon:hover {
  color: var(--mainWhite);
}
